@font-face {
  font-family: 'CustomFont'; /* Choose a name for your font */
  src: url('/fonts/custom-font.ttf') format('truetype');
  font-weight: normal; /* Adjust based on the font weights */
  font-style: normal; /* You can also use italic if available */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
.font-cursive {
  font-family: 'Dancing Script', cursive;
}
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}